#include "charybdis_cirque.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    diode-direction = "row2col";
    col-gpios
		= <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    ;
    row-gpios
		 	= <&pro_micro 21 GPIO_ACTIVE_HIGH>
		 	, <&pro_micro 18 GPIO_ACTIVE_HIGH>
		 	, <&pro_micro 5 GPIO_ACTIVE_HIGH>
		 	, <&pro_micro 4 GPIO_ACTIVE_HIGH>
		 	, <&pro_micro 9 GPIO_ACTIVE_HIGH>
    ;
};
// &nice_nano_spi {
//     status = "okay";
// };
// &trackpad {
//     status = "okay";
// };


&spi0 {
	compatible = "nordic,nrf-spim";
    status = "okay";

    miso-pin = <14>; // P0.17
    mosi-pin = <16>; // P0.20
    sck-pin = <15>; // P1.13
    cs-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>; // P0.24

    trackball: trackball@0 {
        compatible = "pixart,pmw33xx";
        reg = <0>;
        label = "Pixart PMW3360";
        cs-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>; // P0.24
        motswk-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>; // P1.00 = 32 + 0
        spi-max-frequency = <10000000>;
        cpi = <600>;
    };
};






